*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

:root {
  --bg: #1e1e1e;  
  --white: #ffffff;
  --nombre-bg: #f2c66c;
  --title: #ebebeb;
  --text: #b1b1b1;
  --text-min: #888888;  
  --medium: #656565;
  --text-light: #888888;
  --black: #1e1e1e;
  --dark: #3c3c3c;  
  --bg-light: #1e1e1e;
  --light: #d1d1d1;
  --wrap-bg: #0e0e0e;
  --nav-bg: #0e0e0e;
  --wrap-brd: rgb(32 32 32 / 60%);
  --card-bg: #1e1e1e; 
  --link-secondary: #4fa0ff;
  --primary: #ff3f57;
  --primary-medium: #ff3f57;

  --secondary: #6566ff;
  --secondary-light: #f0f0ff;
  --tertiary: #4e0c22;
  --tertiary-medium: #853636;
  --tertiary-light: #6566ff;
  --online: #58d54d;
  --defolt-grad: linear-gradient(
    90deg,
    #ff4a86 0%,
    #fd4b4b 51.56%,
    #ff7a2d 100%
  );
  --active-grad: linear-gradient(
    90deg,
    #ba1a4f 0%,
    #ff4443 51.56%,
    #de5300 100%
  );
  --main-grad: linear-gradient(90deg, #d3074a 0%, #fc502a 51.56%, #ff3103 100%);
  --chat-bg: linear-gradient(
    269deg,
    #003482 2.59%,
    #2e4e7e 63.52%,
    #245783 99.37%
  );
  --blue-grad: linear-gradient(
    23deg,
    #3f7eff 8.38%,
    #7fc1ff 62.68%,
    #30daff 106.93%
  );
    --darkening-from-bottom: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(8, 8, 8, 0.3) 30%,
    rgba(8, 8, 8, 0.8) 60%,
    rgba(8, 8, 8, 0.9) 80%,
    rgba(8, 8, 8, 0.9) 100%
  );
}

body {
  font-family: "Montserrat-Regular", "Arial", "sans-serif";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}
p {
  font-size: 1rem;
  margin-bottom: 18px;
}
p b,
p strong,
li strong,
div b,
h2 b {
  font-weight: 600;
}
a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 400ms linear;
  -webkit-transition: opacity 400ms linear;
  -moz-transition: opacity 400ms linear;
  -ms-transition: opacity 400ms linear;
  -o-transition: opacity 400ms linear;
}
a:hover {
  opacity: 1;
}
h1,
h2,
h3 {
  display: block;
  color: var(--title);
  text-align: center;
  line-height: 1.2;
}
h1 {
  font-size: 2.2rem;
  line-height: 1;
}
h2 {
  font-size: 1.3rem;
  margin-bottom: 22px;
}
h3 {
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-weight: 400;
}
.text__min,
.text__min__center {
  display: block;
  max-width: 380px;
  margin: 0 auto;
  font-size: 0.75rem;
  color: var(--text-min);
}
.text__min__center {
  text-align: center;
}
.link-secondary {
  color: var(--link-secondary);
  opacity: 0.8;
  transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
}
.link-secondary:hover {
  opacity: 1;
}
.subtitle {
  display: block;
  font-size: 0.8rem;
  margin: -12px auto 16px;
  line-height: 1.4;
  width: 100%;
  text-align: center;
}
button,
input,
input:focus,
input:active,
input:hover {
  border: 0;
  box-shadow: none;
  outline: none;
  background: transparent;
}
textarea {
  background-color: transparent;
  border: none;
  resize: none;
}
.btn {
  display: block;
  width: 100%;
  max-width: 380px;
  opacity: 1;
  background-image: var(--defolt-grad);
  padding: 16px 20px;
  color: var(--white);
  text-align: center;
  font-size: 0.9rem;
  line-height: 1;
  text-transform: uppercase;
  filter: brightness(0.85);
  -webkit-filter: brightness(0.85);
  transition: filter 500ms ease;
  -webkit-transition: filter 500ms ease;
  -moz-transition: filter 500ms ease;
  -ms-transition: filter 500ms ease;
  -o-transition: filter 500ms ease;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  cursor: pointer;
  margin: 0 auto;
}
.btn:hover,
.btn:active,
.btn:focus {
  filter: brightness(1);
  -webkit-filter: brightness(1);
}
.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
 max-width: 2502px;
  padding: 16px;

  margin: 0 auto;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.container {
  max-width: 1470px;
  width: 100%;
  margin: 0 auto;

  max-width: 448px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

/*------ MAIN (LOADING) -----*/
.main {
  max-height: 700px;
  padding: 0;
  background-color: var(--bg-light);
}
.main__container {
  justify-content: space-between;
  position: relative;
  max-width: none;
  min-height: inherit;
  padding: 16px;
}
.main__body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/main/main-poster-320.png);
  background-size: cover;
  background-position: center top;
  margin-bottom: 90px;
}
.main__title {
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 10px;
}
.main__title__top,
.main__title__middle {
  font-family: "OpenSans-Bold", "Arial", "sans-serif";
  color: var(--white);
  text-shadow: 0px 4px 4px rgba(30, 30, 30, 0.2);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 80%;
  letter-spacing: -1px;
  display: block;
}
.main__title__middle {
  position: absolute;
  left: 0;
  top: 30px;
}
.main__title__bottom {
  display: block;
  font-family: "Montserrat-ExtraBold", "Arial", "sans-serif";
  font-size: 2.4rem;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.44px;
  text-transform: uppercase;
  background-image: var(--main-grad);
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  text-transform: uppercase;
  text-align: right;
}
.main__title__img {
  width: 243px;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}
.main__footer {
  padding-bottom: 16px;
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
}

/*------ PAGES -----*/

/*-- header --*/
.header {
  margin-top: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  margin-bottom: 32px;
}
.header__logo {
  display: block;
  width: 67px;
  height: 32px;
  background-image: url(../img/icons/logo_dark.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.header__title {
  display: flex;
  align-items: center;
  color: var(--title);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  line-height: 1;
  max-width: calc(100% - 140px);
  overflow: hidden;
  max-height: 20px;
}
.header__title span {
  display: block;
  margin: 1px 0 0 4px;
  color: var(--secondary);
  font-size: 0.95rem;
}
.header__buttons {
  display: flex;
  margin-left: auto;
}
.header__btn {
  display: block;
  width: 44px;
  height: 44px;
  opacity: 0.9;
  transition: opacity 500ms ease, background-image 800ms ease;
  -webkit-transition: opacity 500ms ease, background-image 800ms ease;
  -moz-transition: opacity 500ms ease, background-image 800ms ease;
  -ms-transition: opacity 500ms ease, background-image 800ms ease;
  -o-transition: opacity 500ms ease, background-image 800ms ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  cursor: pointer;
}
.header__close {
  background-image: url(../img/icons/close.svg);
}
.header__back {
  background-image: url(../img/icons/arrow-left.svg);
}
.header__notifications {
  background-image: url(../img/icons/bell-gray.svg);
}
.header__notifications:hover {
  background-image: url(../img/icons/bell.svg);
}
.header__settings {
  background-image: url(../img/icons/settings-gray.svg);
}
.header__settings:hover {
  background-image: url(../img/icons/settings.svg);
}

.header__btn:hover,
.header__btn:focus {
  opacity: 1;
}

/*-- content --*/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
  height: auto;
}
.form__stretch {
  height: 100%;
  justify-content: space-between;
}

.wrapper {
  padding: 16px;
  background-color: var(--wrap-bg);
  border: 1px solid var(--wrap-brd);
  border-radius: 16px;
  margin-bottom: 24px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  width: 100%;
}
.input {
  color: var(--text);
  padding: 12px;
  width: 100%;
  border: 1px solid var(--medium);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 16px;
  transition: border 500ms ease;
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
}
.input:last-child {
  margin-bottom: 0;
}
.input:hover,
.input:focus {
  border: 1px solid var(--secondary);
}
.input.error {
  border: 1px solid var(--primary-medium);
}
.inputs__row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.inputs__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 32px;
}

/*-- navigation --*/
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  min-height: 84px;
  background-color: var(--nav-bg);
  padding: 20px 16px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav__item {
  list-style: none;
}
.nav__item__link {
  display: block;
  width: 44px;
  height: 44px;
  opacity: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  margin: 0 4px;
  position: relative;
  transition: background-image 800ms ease;
  -webkit-transition: background-image 800ms ease;
  -moz-transition: background-image 800ms ease;
  -ms-transition: background-image 800ms ease;
  -o-transition: background-image 800ms ease;
}
.nav__item__logo {
  background-image: url(../img/icons/bird.svg);
  opacity: 0.85;
  transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
}
.nav__item__logo:hover {
  opacity: 1;
}
.nav__item__search {
  background-image: url(../img/icons/search-cat-gray.svg);
}
/* class for sign */
.nav__item__search.sign::after,
.nav__item__chats.sign::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--primary);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 9px;
  right: 9px;
}
/* class for nav link active */
.nav__item__search:hover,
.nav__item__search.active {
  background-image: url(../img/icons/search-cat.svg);
}

.nav__item__likes {
  background-image: url(../img/icons/star-gray.svg);
}
.nav__item__nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: var(--black);
  font-size: 11px;
  font-weight: 600;
  background-color: var(--nombre-bg);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;
}
/* class for nav link active */
.nav__item__likes:hover,
.nav__item__likes.active {
  background-image: url(../img/icons/star.svg);
}

.nav__item__chats {
  background-image: url(../img/icons/chat-gray.svg);
}
/* class for nav link active */
.nav__item__chats:hover,
.nav__item__chats.active {
  background-image: url(../img/icons/chat.svg);
}
.nav__item__user {
  background-image: url(../img/icons/user-gray.svg);
}
/* class for nav link active */
.nav__item__user:hover,
.nav__item__user.active {
  background-image: url(../img/icons/user.svg);
}

/*------ REGISTRSTION, ENTRANCE, VERIFICATION -----*/

.registr,
.entrance,
.verification {
  background-image: url(../img/bg/bg-1-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

/*hover with only 1 button - on the left*/
.registr__header,
.entrance__header {
  justify-content: flex-end;
}

.registr__form {
  padding-bottom: 8px;
}
.regisrt__btn {
  margin-bottom: 8px;
}

.verification__input {
  width: calc(25% - 16px);
  max-width: 56px;
  padding: 20px;
  margin-bottom: 0;
  margin-right: 16px;
  text-align: center;
}
.verification__input:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

/*--- ACCOUNT CREATION, BIRTHDAY, GENDER, PHOTOS, INTERESTS ---*/

.creation,
.birthday,
.gender,
.photos {
  background-image: url(../img/bg/bg-3-min.jpg);
}
.birthday__input {
  text-align: center;
}

/* custom styles for input type="radio"  */
.radio__input {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 15px;
}
.radio__label {
  display: block;
  text-align: center;
}
input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio__input + label {
  display: block;
  align-items: center;
  user-select: none;
  position: relative;
}
.radio__input + label::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 auto 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.radio__input + label::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--medium);
  margin: 0 auto 4px;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.radio__input:not(:disabled):not(:checked) + label:hover::after {
  border-color: var(--light);
}
.radio__input:checked + label::before {
  background-color: var(--primary);
}
.radio__input:checked + label::after {
  border-color: var(--medium);
}
.radio__input:disabled + label::before {
  background-color: var(--medium);
}
input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* custom styles for input type="checkbox" */
.gender__checkbox__label {
  display: flex;
  max-width: 380px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: var(--text-min);
}
.gender__checkbox__input + label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--medium);
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.gender__checkbox__input:not(:disabled):not(:checked) + label:hover::before {
  border-color: var(--medium);
}
.gender__checkbox__input:checked + label::before {
  background-image: url(../img/icons/check.svg);
}
.photos__subtitle {
  text-align: left;
}
.photos__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
  justify-content: center;
}
.photos__item {
  display: block;
  width: calc(33.3% - 32px);
  height: 84px;
  margin: 0 8px 16px 8px;
  border: 1px dashed var(--medium);
  background-color: var(--bg-light);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  position: relative;
}

/* custom styles for input type="file" */
input[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -5;
}
.photo__label {
  display: block;
  width: 28px;
  height: 28px;
  background: var(--defolt-grad);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: -8px;
  right: -8px;
}
.photo__label::after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(../img/icons/plus.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.photos__item--full {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.interests {
  background-image: url(../img/bg/bg-2-min.jpg);
}
.interests__wrapper {
  margin-bottom: 16px;
  padding: 8px;
}
.interests__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 250px;
  overflow-y: scroll;
}

/* custom styles for input type="checkbox" */
.interests__list label {
  display: block;
  padding: 4px 8px;
  margin: 4px;
  cursor: pointer;
  border: 1px solid var(--dark);
  text-align: center;
  font-size: 0.85rem;
  line-height: 1;
  text-wrap: nowrap;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.interests__list input[type="checkbox"]:checked + label {
  background-color: var(--tertiary);
  border-color: var(--tertiary);
  color: var(--title);
}
.interests__list label:hover {
  border-color: var(--tertiary-medium);
  color: var(--title);
}
.interests__list {
  scrollbar-width: thin;
  scrollbar-color: var(--medium) var(--dark);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.interests__list::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.interests__list::-webkit-scrollbar-track {
  background: var(--dark);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.interests__list::-webkit-scrollbar-thumb {
  background-color: var(--medium);
  border: 1px solid var(--dark);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/*--- SEARCH AGE, DISTANCE, RELATIONSHIP TYPE ---*/

.age,
.distance,
.relationship {
  background-image: url(../img/bg/bg-4-min.jpg);
}
/* custom styles for input type="range" */
.range__info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.range__info__name,
.range__info__nombre {
  display: block;
}
.box__range {
  position: relative;
  margin-bottom: 12px;
}
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
.range__input--min {
  position: absolute;
  top: 12px;
  left: 0;
  border: 1px solid red;
}
.range__input {
  width: 100%;
  border: none;
  margin-bottom: 16px;
}
.range__input::-webkit-slider-runnable-track {
  height: 6px;
  border: none;
  background: var(--tertiary-medium);
  box-shadow: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.range__input--min::-webkit-slider-runnable-track {
  background: transparent;
}
.range__input::-webkit-slider-thumb {
  background: var(--defolt-grad);
  cursor: pointer;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  margin-top: -7px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.range__input::-moz-range-track {
  height: 6px;
  background: var(--tertiary-medium);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.range__input::-moz-range-thumb {
  background: var(--defolt-grad);
  cursor: pointer;
  border-radius: 10px;
  margin-top: -7px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.range__input::-moz-range-track {
  background: var(--tertiary-medium);
}
.range__input--min::-moz-slider-runnable-track {
  background: transparent;
}
.range__input::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

.range__input::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}
.range__input--min::-ms-slider-runnable-track {
  background: transparent;
}

.relationship__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.relationship__label {
  display: block;
  text-align: center;
  padding: 20px 2px 4px;
  margin: 4px;
  width: calc(33.3% - 8px);
  height: 100px;
  cursor: pointer;
  border: 1px solid var(--medium);
  text-align: center;
  font-size: 0.54rem;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 8px;
}
.relationship__label img {
  width: 24px;
  height: 24px;
  margin: 0 auto 8px;
}
.relationship__input[type="radio"]:checked + label {
  border-color: var(--primary-medium);
  color: var(--title);
}
.relationship__label:hover {
  border-color: var(--tertiary-medium);
  color: var(--title);
}
/*--- CATALOG, PROFILE, CARD--*/

.catalog,
.profile,
.card {
  background-image: url(../img/bg/bg-6-min.jpg);
  padding-bottom: 100px;
}
.catalog__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog__item {
  width: calc(50% - 8px);
  height: 170px;
  position: relative;
  align-self: flex-start;
  overflow: hidden;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.catalog__item:nth-child(even) {
  margin-top: 20px;
}
.catalog__item__box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  color: var(--white);
  padding: 60px 12px 12px;
  line-height: 1;
}
.catalog__item__name {
  display: flex;
  width: fit-content;
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 4px;
  position: relative;
  color: white;
}
.catalog__item__name.online::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--online);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: -9px;
  top: calc(50% - 2px);
}
.catalog__item__info {
  font-size: 0.75rem;
  opacity: 0.75;
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}
.catalog__item__age,
.catalog__item__distance {
  text-wrap: nowrap;
}
.profile__wrapper {
  padding: 52px 16px 8px;
  width: 100%;
  background-color: var(--wrap-bg);
  border: 1px solid var(--wrap-brd);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  position: relative;
  margin-top: 32px;
}
.profile__photo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.profile__photo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  object-position: center top;
}
.profile__photo__edit {
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  background-image: url(../img/icons/ico-edit.svg);
  transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  cursor: pointer;
  position: absolute;
  bottom: -12px;
  right: -12px;
}
.profile__photo__edit:hover {
  opacity: 1;
}
.profile__item__info {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.profile__item {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid var(--dark);
}
.profile__item:last-child {
  border-bottom: none;
}
.profile__item__img {
  display: block;
  width: 28px;
  height: 28px;
  padding: 6px;
  background-color: var(--secondary);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-top: 2px;
  margin-right: 10px;
}
.profile__item__label {
  display: block;
  line-height: 1;
  text-wrap: nowrap;
  margin-bottom: 2px;
  margin-left: 0;
}
.profile__item__input {
  color: var(--text);
  font-size: 0.9rem;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 0;
}
.profile__item__edit {
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  background-image: url(../img/icons/ico-edit.svg);
  transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  cursor: pointer;
  margin-left: auto;
  margin-right: -8px;
  margin-top: -6px;
  flex-shrink: 0;
}
.profile__item__edit:hover {
  opacity: 1;
}
.profile__item__intereses {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 4px;
}
.profile__item__intereses li {
  display: block;
  padding: 2px 4px;
  margin: 0 4px 4px 0;
  font-size: 0.85rem;
  background-color: var(--bg);
  border: 1px solid var(--dark);
  color: var(--text-min);
  text-align: center;
  line-height: 1;
  text-wrap: nowrap;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  list-style: none;
}

.card {
  padding: 16px 0 80px;
}

.card__header,
.card nav .container {
  padding: 0 16px;
}

.header__logo__card {
  position: static;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}
.header__buttons {
}
.header__btn {
}
.header__notifications {
}
.header__settings {
}
.card__container {
  position: relative;
}
.card__wrapper {
  /*height: 100%;
  border: 1px solid yellow;*/
}

/* slider */
.slider {
  position: relative;
}
.slides__control {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 16px 16px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.slides__control div {
  height: 4px;
  background-color: var(--text-min);
  width: auto;
  min-width: 12px;
  flex-grow: 1;
  margin: 0 1px;
  opacity: 0.3;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  box-shadow: #0e0e0e;
}
.slides__control div:hover {
  opacity: 1;
}
.slides__control div.active {
  background-color: var(--light);
  opacity: 1;
}
.slide {
  border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -ms-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
  overflow: hidden;
 /* height: calc(100vh - 208px);*/
height: calc(100vh - 233px);
}
.slide__img {
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
/* pop-up window */
.card__info {
  border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -ms-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
  position: fixed;
  bottom: 83px;

  width: 100%;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  margin: 0 auto;
  max-width: 448px;

  padding: 16px;
}
.card__info::before {
  content: "";
  width: 100%;
  height: calc(100% + 84px);
  background-image: var(--darkening-from-bottom);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.card__info.up::before {
  display: none;
}
.card__age {
  position: absolute;
  top: 0;
  left: 16px;
  line-height: 1;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-color: var(--secondary);
  color: var(--light);
  font-size: 0.8rem;
  padding: 5px 12px 4px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.card__btn__arrow {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid var(--light);
  background-image: url(../img/icons/arrow-up-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px 12px;
  position: absolute;
  top: 0;
  right: 16px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 1;
  transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
}

.card__btn__arrow:hover {
  opacity: 1;
}
.card__name {
  font-size: 1.5rem;
  line-height: 1;
  text-align: left;
  margin: 12px 0;
  color: var(--white);
}
.card__location {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.card__adress {
  font-size: 1rem;  
  color: var(--text-light);
}
.card__distance {
  margin: 0;
  text-wrap: nowrap;
  position: relative;
  margin-left: 22px;
  padding-top: 2px;
  color: var(--text-light);
}
.card__distance::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../img/icons/ico-nav-grad.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  position: absolute;
  left: -16px;
  top: 4px;
  flex-shrink: 0;
}
.card__interesses {
  display: none;
  flex-wrap: wrap;
  padding-top: 8px;
  margin: 10px 0 4px;
  position: relative;
}
.card__interesses::before {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-image: var(--blue-grad);
  position: absolute;
  top: 0;
  left: 0;
}
.card__interesses li {
  display: block;
  padding: 4px 6px;
  margin: 0 6px 6px 0;
  font-size: 0.85rem;
  background-color: var(--bg);
  border: 1px solid var(--dark);
  color: var(--text-min);
  cursor: pointer;
  text-align: center;
  line-height: 1;
  text-wrap: nowrap;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  list-style: none;
  opacity: 0.9;
  margin-bottom: 8px;
}
.card__message {
  display: none;
  border: 1px solid var(--dark);
  border-radius: 0 12px 12px 12px;
  -webkit-border-radius: 0 12px 12px 12px;
  -moz-border-radius: 0 12px 12px 12px;
  -ms-border-radius: 0 12px 12px 12px;
  -o-border-radius: 0 12px 12px 12px;
  padding: 10px 12px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.card__message span {
  font-size: 1rem;
  line-height: 1.2;
}
.card__message::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/ico-chat.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 8px;
  flex-shrink: 0;
}
.card__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
}
.card__btn {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.8;
  flex-shrink: 1;
  transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
}
.card__btn__cancel {
  background-image: url(../img/icons/ico-btn-back.svg);
}
.card__btn_close {
  background-image: url(../img/icons/ico-btn-close.svg);
  width: 52px;
  height: 52px;
}
.card__btn_superlike {
  background-image: url(../img/icons/ico-btn-star.svg);
}
.card__btn__like {
  background-image: url(../img/icons/ico-btn-like.svg);
  width: 52px;
  height: 52px;
}
.card__btn__boost {
  background-image: url(../img/icons/ico-btn-lightning.svg);
}
.card__btn:hover {
  opacity: 1;
}

.card__interesses li.joint {
  background-color: var(--tertiary-light);
  color: var(--text);
}
.card__btns {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

/* modal*/
.card__info.up {
  position: fixed;
  z-index: 5;
  padding: 16px;
  min-height: calc(100% - 500px);
  background: var(--card-bg);
  border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -ms-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
  bottom: 0;
}
.card__info.up .card__name {
  color: var(--text);
}
.card__info.up .card__btn__arrow {
  background-image: url(../img/icons/arrow-down-white.svg);
  background-color: transparent;
  border: 1px solid var(--bg-light);
  background-color: var(--bg-light);
}
.card__info.up .card__interesses {
  display: flex;
}
.card__info.up .card__message {
  display: flex;
}


/*--- CHATS, CHAT ---*/

.chats,
.chat {
  background-image: url(../img/bg/bg-5-min.jpg);
}
.chats__items {
  padding: 8px 16px;
  width: 100%;
  background-color: var(--wrap-bg);
  border: 1px solid var(--wrap-brd);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin-bottom: 100px;
}
.chats__item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid var(--dark);
  font-size: 0.9rem;
  cursor: pointer;
}
.chats__item:last-child {
  border-bottom: none;
}
.chats__item__img {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}
.chats__item__box {
  width: calc(100% - 60px);
}
.chats__item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}
.chats__item__name {
  color: var(--title);
  max-width: 140px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chats__item__time {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-min);
}
/* class for time of unviewed messages */
.chats__item__time.unviewed {
  color: var(--secondary);
}
.chats__item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chats__item__message {
  font-size: 0.9rem;
  line-height: 1.2;
  max-width: 290px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* class for number of unviewed messages */
.chats__item__number {
  display: inline-block;
  text-align: center;
  color: white;
  min-width: 20px;
  height: 20px;
  padding: 5px;
  background-color: var(--secondary);
  flex-shrink: 0;
  font-size: 0.7rem;
  line-height: 1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.chat__header__img {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}
.chat__container {
  min-height: 100%;
}
.chat__header__name {
  font-size: 0.9rem;
  text-align: left;
  line-height: 1;
  margin-bottom: 4px;
}
.chat__header__info {
  color: var(--text-min);
  opacity: 0.8;
  line-height: 1.1;
}
/* class for online */
.chat__header__info.online {
  color: var(--online);
}
.chat__header__btn {
  display: block;
  width: 40px;
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin: 0;
  opacity: 0.9;
  cursor: pointer;
  transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
}
.chat__header__btn:hover {
  opacity: 1;
}
.chat__header__phone {
  background-image: url(../img/icons/phone.svg);
}
.chat__header__video {
  background-image: url(../img/icons/video.svg);
}
.chat__header__more {
  background-image: url(../img/icons/more.svg);
}
.chat__item {
  padding: 8px 12px 2px;
  margin-bottom: 12px;
  max-width: 90%;
  width: fit-content;
  line-height: 1.2;
  font-size: 0.9rem;
  position: relative;
}
.chat__item__in {
  justify-self: flex-start;
  background-color: var(--nav-bg);
  border-radius: 12px 12px 12px 0px;
  margin-right: auto;
}
.chat__item__out {
  margin-left: auto;
  justify-self: flex-end;
  border-radius: 12px 12px 0px 12px;
  background: var(--chat-bg);
}
.chat__item__in::before,
.chat__item__out::after {
  content: "";
  display: block;
  width: 8px;
  height: 24px;
  position: absolute;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.chat__item__in::before {
  left: -7px;
  background-image: url(../img/icons/polygon-black.svg);
}
.chat__item__out::after {
  right: -7px;
  background-image: url(../img/icons/polygon-blue.svg);
}
.chat__item__box {
}
.chat__item__message {
}
.chat__item__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 16px;
}
.chat__item__time {
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--text-min);
}
.chat__item__ico {
  display: block;
  width: 16px;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 2px;
}
.chat__item__ico.viewed {
  background-image: url(../img/icons/viewed.svg);
}
.chat__item__ico.sent {
  background-image: url(../img/icons/sent.svg);
}
.chat__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  min-height: 84px;
  background-color: var(--nav-bg);
  padding-top: 12px;
}
.chat__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-bottom: 16px;
  padding-left: 16px;
}
.chat__input {
  width: calc(100% - 44px);
  font-size: 0.9rem;
  margin-bottom: 0;
}
.chat__btn {
  display: block;
  width: 44px;
  height: 44px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  opacity: 1;
  cursor: pointer;
  background-image: url(../img/icons/send-gray.svg);
}
.chat__input:active ~ .chat__btn,
.chat__input:focus ~ .chat__btn {
  background-image: url(../img/icons/send.svg);
}



@media (min-width: 370px) {
  .header {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .form {
    padding-top: 54px;
  }
  .wrapper {
    margin-bottom: 32px;
    padding: 24px;
  }
  .photos__item {
    height: 100px;
  }
  .subtitle {
    font-size: 0.85rem;
    width: 90%;
  }
  .interests__list {
    max-height: 310px;
  }
  .interests__wrapper {
    margin-bottom: 16px;
    padding: 8px;
  }
  .relationship__label {
    font-size: 0.6rem;
    height: 110px;
    padding-top: 24px;
  }
  .catalog__item {
    height: 200px;
  }

  .chats__items,
  .chat__items {
    padding: 12px 24px;
  }
  .chats__item__name {
    max-width: 180px;
  }
  .chat__header__img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
  }
}
@media (min-width: 390px) {
  .main {
    max-height: 900px;
  }
  .main__body {
    background-image: url(../img/main/main-poster-375.png);
  }
  .header__btn {
    margin-left: 4px;
  }
  .relationship__label {
    font-size: 0.7rem;
    height: 120px;
    padding-top: 28px;
  }
  .catalog__item {
    height: 220px;
  }
  .profile__wrapper {
    padding: 60px 24px 12px;
    margin-top: 40px;
  }
  .profile__photo__edit {
    bottom: -16px;
    right: -16px;
    width: 44px;
    height: 44px;
  }
  .profile__photo img {
    width: 100px;
    height: 100px;
  }
  .profile__item {
    padding: 10px 0;
  }
  .profile__item__img {
    margin-right: 12px;
  }
  .profile__item__edit {
    width: 44px;
    height: 44px;
    margin-top: -8px;
  }
  .chats__item__name {
    max-width: 200px;
  }
  .chat__header__btn {
    width: 44px;
    height: 44px;
  }
}
@media (min-width: 410px) {
  .main__body {
    background-image: url(../img/main/main-poster-500.png);
    background-position: center top;
  }
  .wrapper {
    margin-bottom: 40px;
  }
  .photos__item {
    height: 120px;
  }
  .subtitle {
    font-size: 0.9rem;
  }
  .interests__list {
    max-height: 375px;
  }
  .interests__wrapper {
    margin-bottom: 16px;
    padding: 8px;
  }
  .catalog__item {
    height: 230px;
  }
  .catalog__item__name {
    font-size: 1rem;
  }
  .chats__item__name {
    max-width: 210px;
  }
}
@media (min-width: 460px) {
  .photos__item {
    height: 130px;
  }
  .subtitle {
    max-width: 360px;
  }
  .relationship__label {
    font-size: 0.77rem;
    height: 140px;
    padding-top: 36px;
  }
  .catalog__item {
    height: 260px;
  }
  .chats__item__name {
    max-width: 270px;
  }
  .header__btn {
    margin-left: 8px;
  }
  .card__header {
    padding: 0;
  }
 /* .slide {
    height: 611px;
  }*/
}
@media (min-width: 500px) {
  .photos__item {
    height: 140px;
  }
  .catalog__item {
    height: 280px;
  }
}
@media (min-width: 576px) {
  .header {
    margin-bottom: 60px;
  }
  .main__title__top,
  .main__title__middle {
    font-size: 3.4rem;
  }
  .main__title__middle {
    top: 40px;
  }
  .main__title__bottom {
    font-size: 2.8rem;
  }
  .main__title__img {
    width: 315px;
    margin-top: -23px;
  }
  h2 {
    margin-bottom: 26px;
  }
  h3 {
    margin-bottom: 28px;
  }
  .wrapper {
    padding: 32px;
  }
  .input {
    padding: 16px;
    margin-bottom: 24px;
  }
  .text__min,
  .text__min__center {
    font-size: 0.8rem;
  }
  .verification__input {
    max-width: 60px;
    margin-bottom: 0;
    margin-right: 32px;
  }
  .verification__input {
    max-width: 70px;
    padding: 24px 20px;
    margin-bottom: 0;
    margin-right: 28px;
    text-align: center;
  }
  .verification__input:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
  .interests__wrapper {
    margin-bottom: 28px;
  }
  .relationship__label {
    font-size: 0.8rem;
    line-height: 1.3;
  }
  .chats__item,
  .chat__item {
    font-size: 1rem;
  }
  .chat__input {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

@media (min-width: 630px) {
  .main {
    max-height: 745px;
  }
  .main__body {
    background-position: center top;
  }
  .registr,
  .entrance,
  .verification {
    background-image: url(../img/bg/bg-1-md.jpg);
  }
  .creation,
  .birthday,
  .gender,
  .photos {
    background-image: url(../img/bg/bg-3-md.jpg);
  }
  .interests {
    background-image: url(../img/bg/bg-2-md.jpg);
  }
  .age,
  .distance,
  .relationship {
    background-image: url(../img/bg/bg-4-md.jpg);
  }
  .catalog,
  .profile,
  .card {
    background-image: url(../img/bg/bg-6-md.jpg);
  }
  .chats,
  .chat {
    background-image: url(../img/bg/bg-5-md.jpg);
  }
}

@media (min-width: 769px) {
  .main {
    max-height: 780px;
  }
  .main__body {
    background-image: url(../img/main/main-poster-800.png);
    background-position: center bottom;
    margin-bottom: 0;
  }
  .main__title {
    padding-left: 16px;
  }
  .main__title__top,
  .main__title__middle {
    font-size: 3.9rem;
  }
  .main__title__middle {
    left: -12px;
    top: 47px;
  }
  .main__title__bottom {
    font-size: 3.4rem;
  }
  .main__title__img {
    width: 330px;
    margin-left: 8px;
  }
  .main__footer {
    width: 340px;
    right: auto;
    padding-bottom: 0;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
@media (min-width: 1100px) {
  .main {
    max-height: 900px;
  }
  .main__body {
    background-image: url(../img/main/main-poster-1200.png);
    background-position: center center;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .main {
    max-height: 1080px;
  }
  .main__body {
    background-image: url(../img/main/main-poster-1400.png);
    background-position: center top;
    margin-bottom: 0;
  }
}

@media (min-height: 700px) {
  .form__stretch {
    padding-bottom: 60px;
  }
}
@media (min-height: 810px) {
  .slide {
    position: relative;
    height: calc(100vh - 233px);
  }
  .slide::before {
    content: "";
    width: 100%;
    height: 30%;
    background-image: var(--darkening-from-bottom);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

@media (min-height: 850px) {
  .form__stretch {
    height: auto;
  }
  .card__info {
    position: absolute;
    bottom: 0;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
  .card__info::before {
    border-radius: 0 0 12px 12px;
    -webkit-border-radius: 0 0 12px 12px;
    -moz-border-radius: 0 0 12px 12px;
    -ms-border-radius: 0 0 12px 12px;
    -o-border-radius: 0 0 12px 12px;
  }

  .slide {    
    height: 660px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
  .slide::before {
    display: none;
  }
}
@media (max-height: 690px) {
  .container,
  .card__info,
  .card__info.up {
    max-width: 380px;
  }
  .main__title__top,
  .main__title__middle {
    font-size: 3.1rem;
  }
  .main__title__middle {
    left: 0px;
    top: 35px;
  }
  .main__title__bottom {
    font-size: 2.5rem;
  }
  .main__title__img {
    width: 81%;
    margin-top: -20px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .main__footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    margin-bottom: 40px;
  }
  .form {
    padding-top: 0;
    padding-bottom: 0;
  }
  .relationship__label {
    font-size: 0.6rem;
  }
  .photos__item {
    height: 100px;
  }
  .catalog__item {
    height: 235px;
  }
    .slide {    
    height: calc(100vh - 212px);
    }
  
}
@media (max-height: 650px) {
}
@media (max-height: 600px) {
  .header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container,
  .card__info,
  .card__info.up {
    max-width: 360px;
  }
  .card__info::before {
    opacity: 0.8;
  }
  .card__age {
    position: absolute;
    top: 0;
    left: 16px;
    font-size: 0.65rem;
    padding: 4px 6px;
  }
  .card__name {
    margin: 4px 0;
    font-size: 1.3rem;
  }
  .card__adress {
    font-size: 0.8rem;
  }
  .card__btns {
    padding-top: 4px;
  }
  .card__info {
    bottom: 84px;
  }
  .card__btn_close,
  .card__btn__like {
    width: 48px;
    height: 48px;
  }
  .slide {
    height: calc(100vh - 172px);
  }
  .main__title__top,
  .main__title__middle {
    font-size: 2.9rem;
  }
  .main__title__bottom {
    font-size: 2.4rem;
  }
  .photos__item {
    height: 86px;
  }
  .catalog__item {
    height: 220px;
  }
}
@media (max-height: 568px) {
  .relationship__label {
    width: calc(50% - 8px);
    height: 84px;
    padding-top: 16px;
  }
}
@media (max-height: 550px) {
  body {
    font-size: 16px;
  }
  h2 {
    font-size: 1.1rem;
  }
  .wrapper {
    margin-bottom: 20px;
    padding: 12px 8px;
  }
  .header__btn {
    margin-left: 0;
  }
  .container,
  .card__info,
  .card__info.up {
    max-width: 320px;
  }
  .main__title__top,
  .main__title__middle {
    font-size: 2.6rem;
  }
  .main__title__bottom {
    font-size: 2.2rem;
  }
  .verification__input {
    padding: 12px;
    margin-right: 16px;
  }
  .catalog__item {
    height: 196px;
  }
}
@media (max-height: 530px) {
  .container,
  .card__info,
  .card__info.up {
    max-width: 280px;
  }
  .main__title {
    margin: auto 16px;
  }
  .main__title__top,
  .main__title__middle {
    font-size: 2.4rem;
  }
  .main__title__bottom {
    font-size: 1.8rem;
  }
  .main__title__middle {
    left: 5px;
    top: 28px;
  }
  .photos__item {
    height: 68px;
  }
  .catalog__item {
    height: 170px;
  }
}
@media (max-height: 500px) {
  .card__age {
    top: 30px;
    right: 16px;
    left: auto;
  }
  .card__name {
    margin: 0;
    font-size: 1.2rem;
  }
  .card__location {
    display: none;
  }
  .wrapper {
    padding: 20px;
  }
  .chat__header__img {
    width: 44px;
    height: 44px;
    margin-right: 12px;
  }
  .chat__header__btn {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  .photos__item {
    height: 55px;
  }
}
@media (max-height: 450px) {
  .header {
    margin-bottom: 12px;
  }
  .header__btn {
    width: 40px;
    height: 40px;
  }
  .card__location,
  .card__name,
  .card__age {
    display: none;
  }
  .containe {
    padding-bottom: 4px;
  }  
  .card__info {
    padding-bottom: 0;
  }
  .card__info {
    bottom: 68px;
  }

  .card {
    padding-bottom: 68px;
  }
  .card__btns {
    padding-top: 0;
    padding-bottom: 0;
  }
  .slide {
    height: calc(100vh - 147px);
  }
  .card__info::before {
    content: "";
    width: 100%;
    height: calc(100% + 10px);
  }
  .card__btn {
    width: 38px;
    height: 38px;
  }
  .card__btn_close,
  .card__btn__like {
    width: 44px;
    height: 44px;
  }
  .nav {
    min-height: 68px;
    padding: 8px 16px;
  }
}
@media (max-height: 400px) {
  .card__info.up .card__btns {
    display: none;
  }
}
